<div *ngIf="tipoUsuario === 'admin'; else headerNormal">
  <component-header-admin></component-header-admin>
</div>

<ng-template #headerNormal>
  <component-header></component-header>
</ng-template>

<div class="overflow-x-auto shadow-md sm:rounded-lg m-5">
  <table
    class="table table-bordered table-striped table-sm w-full text-gray-500 dark:text-gray-400"
    style="table-layout: fixed"
  >
    <thead class="bg-green-800 text-white">
      <tr>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-left">
          Posición
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-left">
          Equipo
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          Puntos
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          PJ
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          PG
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          PE
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          PP
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          GF
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          GC
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          DG
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let equipo of equipos; let i = index">
      <tr
        [ngClass]="{
          'bg-green-100': i % 2 === 0,
          'bg-green-300': i % 2 !== 0
        }"
        class="border-b dark:border-gray-700 border-gray-200"
      >
        <td class="px-4 py-2 text-left">{{ i + 1 }}</td>
        <td class="px-4 py-2 flex items-center">
          <img
            src="{{ equipo | escudoPipe }}"
            class="w-7 h-7 mr-2 border-2 border-green-600 rounded-full"
          />
          <span
            (click)="detalleEquipo(equipo.id)"
            class="cursor-pointer hover:underline"
          >
            {{ equipo.nombre }}
          </span>
        </td>
        <td class="px-4 py-2 text-center">{{ equipo.puntos }}</td>
        <td class="px-4 py-2 text-center">{{ equipo.partidos_jugados }}</td>
        <td class="px-4 py-2 text-center">{{ equipo.partidos_ganados }}</td>
        <td class="px-4 py-2 text-center">{{ equipo.partidos_empatados }}</td>
        <td class="px-4 py-2 text-center">{{ equipo.partidos_perdidos }}</td>
        <td class="px-4 py-2 text-center">{{ equipo.goles_a_favor }}</td>
        <td class="px-4 py-2 text-center">{{ equipo.goles_en_contra }}</td>
        <td class="px-4 py-2 text-center">{{ equipo.diferencia_goles }}</td>
      </tr>
    </tbody>
  </table>
</div>
