<div
  class="flex flex-col bg-gradient-to-b from-green-700 to-green-500 p-6 rounded-lg shadow-lg text-white"
>
  <span class="text-lg mb-2 font-bold text-center uppercase text-yellow-300">
    Registro
  </span>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="mb-4">
      <label for="username" class="block text-sm font-medium text-green-200">
        Usuario
      </label>
      <input
        id="username"
        type="text"
        placeholder="Nombre de usuario"
        formControlName="username"
        class="placeholder-green-400 w-full px-3 py-2 border border-green-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-300 text-black bg-white"
      />
      <div
        *ngIf="
          registerForm.get('username')?.touched &&
          registerForm.get('username')?.invalid
        "
        class="text-red-700 text-sm"
      >
        <span *ngIf="registerForm.get('username')?.hasError('required')"
          >El usuario es obligatorio.
        </span>
      </div>
    </div>

    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-green-200">
        Correo Electrónico
      </label>
      <input
        id="email"
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
        class="placeholder-green-400 w-full px-3 py-2 border border-green-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-300 text-black bg-white"
      />
      <div
        *ngIf="
          registerForm.get('email')?.touched &&
          registerForm.get('email')?.invalid
        "
        class="text-red-700 text-sm"
      >
        <span *ngIf="registerForm.get('email')?.hasError('required')"
          >El correo electrónico es obligatorio.
        </span>
        <span *ngIf="registerForm.get('email')?.hasError('email')"
          >El formato del correo no es válido.
        </span>
      </div>
    </div>

    <div class="mb-4">
      <label for="password" class="block text-sm font-medium text-green-200">
        Contraseña
      </label>
      <input
        id="password"
        type="password"
        placeholder="Contraseña"
        formControlName="password"
        class="placeholder-green-400 w-full px-3 py-2 border border-green-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-300 text-black bg-white"
      />
      <div
        *ngIf="
          registerForm.get('password')?.touched &&
          registerForm.get('password')?.invalid
        "
        class="text-red-700 text-sm"
      >
        <span *ngIf="registerForm.get('password')?.hasError('required')"
          >La contraseña es obligatoria.
        </span>
        <span *ngIf="registerForm.get('password')?.hasError('minlength')"
          >La contraseña debe tener al menos 8 caracteres.
        </span>
      </div>
    </div>

    <div class="mb-4">
      <label for="password2" class="block text-sm font-medium text-green-200">
        Repetir Contraseña
      </label>
      <input
        id="password2"
        type="password"
        placeholder="Repite la contraseña"
        formControlName="password2"
        class="placeholder-green-400 w-full px-3 py-2 border border-green-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-300 text-black bg-white"
      />
      <div
        *ngIf="
          registerForm.get('password2')?.touched &&
          registerForm.get('password2')?.invalid
        "
        class="text-red-700 text-sm"
      >
        <span *ngIf="registerForm.get('password2')?.hasError('required')"
          >Debes confirmar la contraseña.
        </span>
      </div>
    </div>

    <div
      *ngIf="registerForm.hasError('passwordNoIgual') && registerForm.touched"
      class="text-red-700 text-sm"
    >
      <span>Las contraseñas no coinciden. </span>
    </div>

    <div class="mb-4">
      <label
        for="tipo_usuario"
        class="block text-sm font-medium text-green-200"
      >
        Tipo de usuario
      </label>
      <select
        id="tipo_usuario"
        formControlName="tipo_usuario"
        class="w-full px-3 py-2 border border-green-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-300 bg-white text-green-400"
      >
        <option value="" disabled>Seleccione el tipo de usuario</option>
        <option value="manager" class="text-green-400">Entrenador</option>
        <option value="invitado" class="text-green-400">Invitado</option>
      </select>
      <div
        *ngIf="
          registerForm.get('tipo_usuario')?.touched &&
          registerForm.get('tipo_usuario')?.invalid
        "
        class="text-red-700 text-sm"
      >
        <span *ngIf="registerForm.get('tipo_usuario')?.hasError('required')"
          >El tipo de usuario es obligatorio.
        </span>
      </div>
    </div>

    <div class="mb-4" *ngIf="mostrarSeleccionEquipo">
      <label for="id_equipo" class="block text-sm font-medium text-green-200">
        Seleccione su equipo
      </label>
      <select
        id="id_equipo"
        formControlName="id_equipo"
        class="w-full px-3 py-2 border border-green-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-300 bg-white text-green-400"
      >
        <option value="" disabled>Seleccione tu equipo</option>
        <option
          *ngFor="let equipo of equipos"
          value="{{ equipo.id }}"
          class="text-green-400"
        >
          {{ equipo.nombre }}
        </option>
      </select>
    </div>

    <button
      type="submit"
      class="flex items-center px-4 py-2 bg-green-400 text-white rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2 font-bold shadow-md"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2 text-yellow-300"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"
        />
      </svg>
      Registrarse
    </button>

    <div *ngIf="errorRegistro" class="text-red-700 mt-4 font-bold">
      {{ errorRegistro }}
    </div>

    <div *ngIf="registroCompletado" class="text-green-700 mt-4 font-bold">
      Usuario registrado correctamente
    </div>

    <div class="flex justify-end mt-5">
      <a routerLink="/auth/login" class="text-yellow-300 hover:underline">
        ¿Ya tienes cuenta?
      </a>
    </div>
  </form>
</div>
