<div
  class="flex flex-col mt-10 bg-gradient-to-b from-green-600 to-green-400 p-4 rounded-lg shadow-lg text-white w-full max-w-xs sm:max-w-sm md:max-w-md mx-auto"
>
  <span class="text-base mb-3 font-bold text-center uppercase text-green-200">
    Login
  </span>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="username" class="block text-xs font-medium text-green-200">
        Usuario
      </label>
      <input
        required
        id="username"
        type="text"
        placeholder="Nombre de usuario"
        formControlName="username"
        class="placeholder-green-600 w-full px-2 py-1 border border-green-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-300 text-black bg-white text-sm"
      />
      <div
        *ngIf="
          loginForm.get('username')?.touched &&
          loginForm.get('username')?.invalid
        "
        class="text-red-700 text-xs mt-1"
      >
        El usuario es obligatorio
      </div>
    </div>

    <div class="mb-3 relative">
      <label for="password" class="block text-xs font-medium text-green-200">
        Contraseña
      </label>
      <input
        required
        id="password"
        [type]="mostrarPassword ? 'text' : 'password'"
        placeholder="Contraseña"
        formControlName="password"
        class="placeholder-green-600 w-full px-2 py-1 border border-green-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:border-green-300 text-black bg-white text-sm"
      />
      <button
        type="button"
        (click)="togglePassword()"
        class="absolute right-2 top-8 transform -translate-y-1/2 text-green-600 focus:outline-none"
      >
        <svg
          *ngIf="!mostrarPassword"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
        </svg>
        <svg
          *ngIf="mostrarPassword"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a9.993 9.993 0 012.397-3.568m3.137-2.244A9.964 9.964 0 0112 5c4.477 0 8.268 2.943 9.542 7a9.96 9.96 0 01-1.507 2.606M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3l18 18"
          />
        </svg>
      </button>
      <div
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.invalid
        "
        class="text-red-700 text-xs mt-1"
      >
        La contraseña es obligatoria
      </div>
    </div>

    <button
      type="submit"
      class="flex items-center justify-center w-full px-3 py-2 bg-green-400 text-white rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2 font-bold shadow-md cursor-pointer text-sm transition-all"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 mr-1.5 text-green-200"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"
        />
      </svg>
      Ingresar
    </button>

    <div
      *ngIf="noLogueado"
      class="text-red-700 mt-3 font-bold text-center text-xs"
    >
      Usuario o contraseña no válidos
    </div>

    <div class="flex justify-end mt-4 text-xs">
      <a routerLink="/auth/register" class="text-green-100 hover:underline">
        ¿No tienes cuenta?
      </a>
    </div>
  </form>
</div>
