<header
  class="bg-gradient-to-r from-green-700 via-green-500 to-green-700 text-white p-4 flex justify-between items-center shadow-lg"
>
  <nav class="flex space-x-10">
    <a
      href="/main"
      class="text-lg font-bold hover:text-yellow-300 transition-transform hover:scale-110"
      >Inicio</a
    >
    <!-- <a
      href="/main/clasificacion"
      class="text-lg font-bold hover:text-yellow-300 transition-transform hover:scale-110"
      >Clasificación</a
    > -->
    <a
      href="/main/equipos"
      class="text-lg font-bold hover:text-yellow-300 transition-transform hover:scale-110"
      >Equipos</a
    >
    <a
      href="/main/jugadores"
      class="text-lg font-bold hover:text-yellow-300 transition-transform hover:scale-110"
      >Jugadores</a
    >
    <a
      href="/main/partidos"
      class="text-lg font-bold hover:text-yellow-300 transition-transform hover:scale-110"
      >Partidos</a
    >
    <!-- <a href="/main/newLiga" class="text-lg font-bold hover:text-yellow-300 transition-transform hover:scale-110"
      >Crear Liga</a
    > -->
  </nav>

  <button
    (click)="onLogout()"
    class="cursor-pointer bg-red-600 px-4 py-2 rounded-lg text-lg font-bold hover:bg-red-700 transition-transform hover:scale-105"
  >
    Logout
  </button>
</header>
