<component-header-admin></component-header-admin>

<div class="m-5 flex items-center justify-between">
  <a
    routerLink="../form"
    class="text-lg font-semibold hover:text-yellow-200 transition bg-green-600 text-white px-4 py-2 rounded"
  >
    Añadir Partido
  </a>
  <div class="relative w-1/2">
    <input
      type="text"
      [(ngModel)]="filtroNombre"
      placeholder="Busca por equipo local o equipo visitante"
      class="border px-4 py-2 rounded w-full text-black text-center pr-10"
    />
    <svg
      class="absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-500"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M12.9 14.32a8 8 0 111.414-1.414l4.387 4.387a1 1 0 01-1.414 1.414l-4.387-4.387zM14 8a6 6 0 11-12 0 6 6 0 0112 0z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </div>
</div>

<div class="overflow-x-auto shadow-md sm:rounded-lg m-5">
  <table
    class="table table-bordered table-striped table-sm w-full text-gray-500 dark:text-gray-400"
    style="table-layout: fixed"
  >
    <thead class="bg-green-800 text-white">
      <tr>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          Local
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          Visitante
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          Fecha
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          Hora
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          Resultado
        </th>
        <th scope="col" class="px-4 py-2 text-sm font-semibold text-center">
          Editar
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let partido of partidosFiltrados; let i = index"
        [ngClass]="{
          'bg-green-100': i % 2 === 0,
          'bg-green-300': i % 2 !== 0
        }"
        class="border-b dark:border-gray-700 border-gray-200"
      >
        <td class="px-4 py-2 text-center">
          <ng-container
            *ngIf="editandoPartidoId !== partido.id; else editEquipoLocal"
          >
            <span
              (click)="detalleEquipoLocal(partido.equipo_local)"
              class="cursor-pointer hover:underline"
            >
              {{ partido.nombre_equipo_local || "Por determinar" }}
            </span>
          </ng-container>
          <ng-template #editEquipoLocal>
            <select
              [(ngModel)]="partido.equipo_local"
              class="border-2 border-green-600 px-3 py-1 rounded w-full text-center"
            >
              <option value="" disabled>Selecciona el equipo local</option>
              <option [ngValue]="null" class="text-black">
                Por determinar
              </option>
              <option
                *ngFor="let equipo of equipos"
                [ngValue]="equipo.id"
                [disabled]="
                  equipo.nombre === partido.nombre_equipo_local ||
                  equipo.nombre === partido.nombre_equipo_visitante
                "
                [ngClass]="{
                  'text-gray-400':
                    equipo.nombre === partido.nombre_equipo_local ||
                    equipo.nombre === partido.nombre_equipo_visitante,
                  'text-black': !(
                    equipo.nombre === partido.nombre_equipo_local ||
                    equipo.nombre === partido.nombre_equipo_visitante
                  )
                }"
              >
                {{ equipo.nombre }}
              </option>
            </select>
          </ng-template>
        </td>
        <td class="px-4 py-2 text-center">
          <ng-container
            *ngIf="editandoPartidoId !== partido.id; else editEquipoVisitante"
          >
            <span
              (click)="detalleEquipoVisitante(partido.equipo_visitante)"
              class="cursor-pointer hover:underline"
            >
              {{ partido.nombre_equipo_visitante || "Por determinar" }}
            </span>
          </ng-container>
          <ng-template #editEquipoVisitante>
            <select
              [(ngModel)]="partido.equipo_visitante"
              class="border-2 border-green-600 px-3 py-1 rounded w-full text-center"
            >
              <option value="" disabled>Selecciona el equipo visitante</option>
              <option [ngValue]="null" class="text-black">
                Por determinar
              </option>
              <option
                *ngFor="let equipo of equipos"
                [ngValue]="equipo.id"
                [disabled]="
                  equipo.nombre === partido.nombre_equipo_local ||
                  equipo.nombre === partido.nombre_equipo_visitante
                "
                [ngClass]="{
                  'text-gray-400':
                    equipo.nombre === partido.nombre_equipo_local ||
                    equipo.nombre === partido.nombre_equipo_visitante,
                  'text-black': !(
                    equipo.nombre === partido.nombre_equipo_local ||
                    equipo.nombre === partido.nombre_equipo_visitante
                  )
                }"
              >
                {{ equipo.nombre }}
              </option>
            </select>
          </ng-template>
        </td>
        <td class="px-4 py-2 text-center">
          <ng-container
            *ngIf="editandoPartidoId !== partido.id; else editFecha"
          >
            {{
              partido.fecha
                ? (partido.fecha | date : "dd-MM-yyyy")
                : "Fecha no establecida"
            }}
          </ng-container>
          <ng-template #editFecha>
            <input
              [(ngModel)]="partido.fecha"
              type="date"
              class="border-2 border-green-600 px-3 py-1 rounded w-full"
            />
          </ng-template>
        </td>
        <td class="px-4 py-2 text-center">
          <ng-container *ngIf="editandoPartidoId !== partido.id; else editHora">
            {{ partido.hora || "Por determinar" }}
          </ng-container>
          <ng-template #editHora>
            <input
              [(ngModel)]="partido.hora"
              type="time"
              class="border-2 border-green-600 px-3 py-1 rounded w-2/3"
            />
          </ng-template>
        </td>
        <td class="px-4 py-2 text-center">
          <ng-container
            *ngIf="editandoPartidoId !== partido.id; else editResultado"
          >
            {{ partido.resultado || "Por jugar" }}
          </ng-container>
          <ng-template #editResultado>
            <input
              [(ngModel)]="partido.resultado"
              class="border-2 border-green-600 px-3 py-1 rounded w-full"
            />
          </ng-template>
        </td>
        <td class="px-4 py-2 text-center">
          <ng-container *ngIf="editandoPartidoId !== partido.id">
            <button
              type="button"
              (click)="onEditPartido(partido.id)"
              class="btn btn-sm btn-success cursor-pointer"
            >
              ✏️
            </button>
          </ng-container>
          <ng-container *ngIf="editandoPartidoId === partido.id">
            <button
              type="button"
              (click)="onGuardarPartido(partido)"
              class="btn btn-sm btn-success cursor-pointer"
            >
              📝
            </button>
          </ng-container>
          <ng-container *ngIf="editandoPartidoId !== partido.id">
            <button
              type="button"
              (click)="onDeletePartido(partido.id)"
              class="btn btn-sm btn-danger cursor-pointer"
            >
              🗑️
            </button>
          </ng-container>
          <ng-container *ngIf="editandoPartidoId === partido.id">
            <a
              (click)="onCancelarEdicionPartido()"
              class="btn btn-sm btn-warning cursor-pointer"
              >❌</a
            >
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
